<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/css/key_game.css">
    <meta charset="UTF-8">
    <title>Key Game</title>
</head>
<body>
<div id="header"><h1>ダイアルゲーム</h1></div>
<div class="key_game">
    <div class="LeftUI">
        <div id="menu">
            <form method="post" action="" id="key_input">
                <div class="radio">
                    {% if dir == 'left' %}
                        <input type="radio"  name="right_or_left" id="left" value="left" checked>
                        <label for="left" id="left_label">左に</label>
                        <input type="radio"  name="right_or_left" id="right" value="right">
                        <label for="right" id="right_label">右に</label>
                    {% else %}
                        <input type="radio"  name="right_or_left" id="left" value="left" >
                        <label for="left" id="left_label">左に</label>
                        <input type="radio"  name="right_or_left" id="right" value="right" checked>
                        <label for="right" id="right_label">右に</label>
                    {% endif %}

                </div>
                <input type="number" id="key_value" name="key_value" value={{top}}  min="0" max="9">まで回す

                <input type="submit" value="回す" class="btn-circle-fishy">
                {% csrf_token %}
            </form>
            <form method="get" action="init/">
                <input type="submit" id="init" value="初めから">
            </form>
        </div>
        <div id="result">
            {% if correct %}
                <p>正解！{{right}}</p>
            {% elif near %}
                <p>途中で音がした気がした</p>
                <p>あと{{play_limit}}回</p>
            {% elif miss %}
                <p>違う番号みたいだ</p>
                <p>あと{{play_limit}}回</p>
            {% elif game_over %}
                <p>Game Over!</p>
                <p>
                    あなたは単位を失ってしまった。
                </p>
            {% else %}
                <p>
                    大切な単位を入れた金庫の鍵番号を忘れてしまった！！<br>
                    どうにかして開けることはできないだろうか…
                </p>
            {% endif %}
        </div>
        <div class="tutorial">
            <h2>チュートリアル</h2>
            <p>
                このゲームは限られた回数の中で定めれらた鍵番号を当てるゲームで
                向きと数字によって答えが決まっています。<br>
                [答例] 左向きに6まで回す<br><br>
            </p>
            <h2>ヒント</h2>
            <p>
                例として一番上が0の場合右向きに5まで回すを選択した場合[9,8,7,6]を通過し、
                5までダイアルが回されます。この時通過した番号の中に答えが含まれる場合、
                音がしたというメッセージが表示されます。<br>
                これをヒントとして正解にたどり着いてください。
            </p>
        </div>
    </div>
    <div id="locker_inner">
        {% if top is not None %}
            <img src=/static/img/{{top}}.png id="dial" height="583" width="583">
        {% elif correct %}
            <img src="/static/img/tanni.png">
        {% elif game_over %}
            <img src="/static/img/GameOver.png">
        {% endif %}

    </div>
</div>
</body>
</html>