body{
    margin: 0px;
    padding: 0px;
    text-align: center;
    background: aliceblue;
}
#header{
    background: aliceblue;
}
.btn-circle-fishy {
  display: inline-block;
  text-decoration: none;
  color: #FFF;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  background-image: linear-gradient(45deg, #709dff 0%, #91fdb7 100%);
  transition: .4s;
}
.btn-circle-fishy:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}
.key_game{
    margin: auto;
    height: 700px;
    width: 1200px;
    background: cornflowerblue;
    border: double;
    overflow: hidden;
}
.LeftUI{
    margin: 50px 50px;
    width: 450px;
    float: left;
}
#menu{
    width: 450px;
    float: left;
    border: double;
    border-radius: 10px;
    background: white;
}
.radio input{
    display: none;
}
.radio label{
    display: inline-block;
    text-decoration: none;
    color: black;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border: solid 2px chartreuse;
    border-radius: 50%;
    text-align: center;
    overflow: hidden;
    transition: 4s;
}
.radio input[type="radio"]:checked + label {
	background-color: forestgreen;
	color: #fff;
}
.radio label{
    transition: 2s;
}
#left_label{
    transition: 2s;
}
#left_label:hover{
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
}
#right_label{
    transition: 2s;
}
#right_label:hover{
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

#key_value{
    width: 30px;
    border-radius: 4px;
}


#init input{
    display: none;
}
#init {
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: ghostwhite;
  border: solid 2px ghostwhite;
  border-radius: 3px;
  transition: .4s;
}

#init:hover {
  background: black;
  color: white;
}
#locker_inner{
    margin:50px 20px;
    float: right;
    background: white;
    border: double;
    border-radius: 20px;
    height: 600px;
    width: 600px;
}
#dial{
    margin: auto;
    transition: 8s;
}
#dial:hover{
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

#result{
    font-family: 'Impact';
    float: left;
    margin: 30px 0 0 0;
    border: double;
    border-radius: 10px;
    background: white;
    height: 100px;
    width: 450px;
}

.tutorial{
    text-align: left;
}